<f:layout name="Default" />
<!DOCTYPE html>
<html lang="{layout.page.lang}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{FLOCKR_baseUrl}Modules/Core/Assets/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">    <title>{layout.page.title}</title>
    {layout.page.hardcodedCSS -> f:format.raw()}
    <f:render partial="CSS" arguments="{css: layout.page.css, baseUrl: FLOCKR_baseUrl}"/>
    {layout.page.hardcodedJS -> f:format.raw()}
    <f:render partial="JS" arguments="{scripts: layout.page.js.header, baseUrl: FLOCKR_baseUrl}"/>
    {layout.page.inlineJS -> f:format.raw()}
</head>
<body onload="session_time_init(); {layout.page.onloadCode}">
<fx:legacy.menu />
</nav>
</header>
<!-- TODO: Menu -->
<div class="row-offcanvas row-offcanvas-left">
    <div class="sidebar-offcanvas" role="navigation" id="sidebar">
        <div class="panel-group" id="accordion">
            <f:render section="sidebar" />
        </div>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="col-md-12">
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </p>
                <!-- TODO: Notifier -->
                <f:render section="main" />
            </div>
        </div>
    </div>
</div>
<f:render partial="SessionModals" arguments="{_all}" />
<f:render partial="Footer" arguments="{_all}"/>
<f:render partial="JS" arguments="{scripts: layout.page.js.footer, baseUrl: FLOCKR_baseUrl}"/></body>
</html>
