<html>
<head>
    <link rel="stylesheet" href="{flockr.baseUrl}Modules/Calendar/Resources/Public/Styles/Export/Year.css"/>
</head>
<body>
<table border="1" cellspacing="0">
    <tr>
        <f:repeat from="0" to="5" iteration="mt">
            <th colspan="2"> {calendar.{mt}.start -> f:format.date(format: '%B %y')}</th>
        </f:repeat>
    </tr>
    <f:repeat from="1" to="31" iteration="i">
        <tr>
            <f:repeat from="0" to="5" iteration="mt">
                <f:alias map="{month: '{calendar.{mt}}'}">
                    <f:alias map="{day: '{month.days.{i}}'}">
                        <f:if condition="{day}">
                            <f:then>
                                <td class="
                                   {f:if(condition: '{day.isSchoolHoliday}', then: 'vacation')}
                                   {f:if(condition: '{day.churchYear}', then: 'sunday')}
                                   {f:if(condition: '{day.isSunday}', then: 'sunday')}
                                    date ">
                                    {day.date -> f:format.date(format: '%d <small>%a</small> ')}
                                </td>
                                <td class="
                                   {f:if(condition: '{day.isSchoolHoliday}', then: 'vacation')}
                                   {f:if(condition: '{day.churchYear}', then: 'sunday')}
                                   {f:if(condition: '{day.isSunday}', then: 'sunday')}
                                    content ">
                                    <f:if condition="{day.churchYear}"><span class="churchYear">{day.churchYear}</span><br /></f:if>
                                    <f:for each="{day.events}" as="event" iteration="e">
                                        <span class="event">
                                            <f:if condition="{event.startzeit}">
                                            <f:format.date format="%H:%M">{event.startdatum} {event.startzeit}</f:format.date>
                                                </f:if> {event.eventgruppen_name}<f:if condition="{event.title}">: {event.title}</f:if>
                                        </span><f:if condition="{e.isLast}"><f:else><br /></f:else></f:if>
                                    </f:for>
                                </td>
                            </f:then>
                            <f:else>
                                <td colspan="2"></td>
                            </f:else>
                        </f:if>
                    </f:alias>
                </f:alias>
            </f:repeat>
        </tr>
    </f:repeat>
</table>
<pagebreak />
<table border="1" cellspacing="0">
    <tr>
        <f:repeat from="6" to="11" iteration="mt">
            <th colspan="2"> {calendar.{mt}.start -> f:format.date(format: '%B %y')}</th>
        </f:repeat>
    </tr>
    <f:repeat from="1" to="31" iteration="i">
        <tr>
            <f:repeat from="6" to="11" iteration="mt">
                <f:alias map="{month: '{calendar.{mt}}'}">
                    <f:alias map="{day: '{month.days.{i}}'}">
                        <f:if condition="{day}">
                            <f:then>
                                <td class="
                                   {f:if(condition: '{day.isSchoolHoliday}', then: 'vacation')}
                                   {f:if(condition: '{day.churchYear}', then: 'sunday')}
                                   {f:if(condition: '{day.isSunday}', then: 'sunday')}
                                    date ">
                                    {day.date -> f:format.date(format: '%d <small>%a</small> ')}
                                </td>
                                <td class="
                                   {f:if(condition: '{day.isSchoolHoliday}', then: 'vacation')}
                                   {f:if(condition: '{day.churchYear}', then: 'sunday')}
                                   {f:if(condition: '{day.isSunday}', then: 'sunday')}
                                    content ">
                                    <f:if condition="{day.churchYear}"><span class="churchYear">{day.churchYear}</span><br /></f:if>
                                    <f:for each="{day.events}" as="event" iteration="e">
                                        <span class="event">
                                            <f:if condition="{event.startzeit}">
                                            <f:format.date format="%H:%M">{event.startdatum} {event.startzeit}</f:format.date>
                                                </f:if> {event.eventgruppen_name}<f:if condition="{event.title}">: {event.title}</f:if>
                                        </span><f:if condition="{e.isLast}"><f:else><br /></f:else></f:if>
                                    </f:for>
                                </td>
                            </f:then>
                            <f:else>
                                <td colspan="2"></td>
                            </f:else>
                        </f:if>
                    </f:alias>
                </f:alias>
            </f:repeat>
        </tr>
    </f:repeat>
</table>
</body>
</html>
